name: PO-UI Publish Portal

env:
  AZURE_WEBAPP_NAME: wa-po-ui
  AZURE_WEBAPP_PACKAGE_PATH: /home/runner/work/po-angular/po-angular/po-angular/dist/portal
  WORKING_DIR: /home/runner/work/po-angular/po-angular/po-angular

on:
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:

    - name: Check out po-angular
      uses: actions/checkout@v4
      with:
        path: po-angular

    - name: Check out style
      uses: actions/checkout@v4
      with:
        repository: po-ui/po-style
        path: po-style
    
    - name: Check out to Portal Build Repository
      uses: actions/checkout@v4
      with:
        repository: po-ui-portal-test/po-ui-portal-v17
        path: po-portal-checkout
        ref: main

    - name: Clone Portal Build Repository
      run: |
        git clone "https://github.com/po-ui-portal-test/po-ui-portal-v17" po-portal-clone
      
    - name: List directories
      run: |
        pwd
        ls